body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    background-color: #e7e5e5;
}

.container {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.left-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.right-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: right;
}

.favorite {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(50% - 20px);
    /* 2つのカードを横並びに配置 */
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-address,
.card-genre {
    margin: 5px 0;
}

.details-link {
    color: #007bff;
    text-decoration: none;
}

.details-link:hover {
    text-decoration: underline;
}