body,
html {
    height: 100%;
    margin: 0;
    background-color: #e7e5e5;
}

.form :not(.form__button) {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.register__card-ttl {
    background: #0051ff;
    margin-bottom: 15px;
    padding: 15px 0;
    padding-left: 30px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.register__card {
    background-color: white;
    width: 360px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding-bottom: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    text-align: left;
    /* プレースホルダーを左揃えにする */
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    margin: 100px 200px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    appearance: none;
}

.form__button {
    margin: 20px 0 20px auto;
    width: 80px;
    height: 40px;
}

.form__button-submit {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background: #0051ff;
    color: #fff;
    cursor: pointer;
}

