body,
html {
    height: 100%;
    margin: 0;
    background-color: #e7e5e5;
    padding: 10px 20px;
}

.shop-name {
    display: flex;
}

.shop-name a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    font-size: large;
}